<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <div class="text-center">
            <div class="error mx-auto" data-text="404">404</div>
            <p class="lead text-gray-800 mb-5">Sayfa bulunamadı!</p>
            <p class="text-gray-500 mb-0">Sanırım bir hata oluştu :( </p>
            <a href="/Home/Index/">&larr; Ana Sayfaya Dön</a>
        </div>
    </hgroup>
</body>
</html>
