@using RandevuSistemiNew.Models
@model List<Users>
@{
    ViewBag.Title = "UsersHemsire";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}




<div class="card mt-5">
    <div class="card-header ">
        <h2><b>Hemşireler / </b>Hemşire Listesi</h2>
    </div>

    <div class="card-body">
        <div class="table-responsive">

            <table id="dataTable" class="table table-hover" style="width:100%">
                <thead>
                    <tr>
                        <th>AD-SOYAD</th>
                        <th>TELEFON</th>
                        <th>DURUM</th>
                        <th>İŞLEM</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var Users in Model)
                    {
                        <tr>

                            <td>@Users.Fullname</td>
                            <td>@Users.Phone</td>
                            <td style="color: @(Users.Status.HasValue && Users.Status.Value ? "green" : "red")">
                                @(Users.Status.HasValue ? (Users.Status.Value ? "AKTİF" : "PASİF") : "N/A")
                            </td>

                            <td>
                                <a href="/User/UsersSil/@Users.ID" class="btn btn-danger" onclick="return confirm('Gerçekten silmek istiyor musunuz?')">SİL</a>
                                <a href="/User/UsersGetir/@Users.ID" class="btn btn-primary">GÜNCELLE</a>
                                @*<a href="/User/UsersDetay/@Users.ID" class="btn btn-success">DETAY</a>*@
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <div class="card-footer">
        <a href="/User/YeniUsers/" class="btn btn-warning">Yeni Hemşire Ekle</a>
    </div>
</div>




